<div class="preloader"></div>
<script>
  addEventListener('DOMContentLoaded', (event) => {
  $(window).on('load', function() {
    $('.preloader').fadeOut('slow');
  }); 
  }); 
</script>
<style>
  .preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 4;
  }
</style>