<a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)" data-product-handle="{{ product.handle }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ settings.wishlist_title }}">
  <span class="add-wishlist"><i class="fa fa-heart"></i></span>
  <span class="loading-wishlist ajax-loader"><span class="spinner-border"></span></span>
  <span class="remove-wishlist"><i class="ion-android-close"></i></span>
</a>