<div class="wishlist">
	<a class="header-wishlist-btn" href="/pages/wishlist">
	  <span class="counter-wrap">
	  	<i class="icon-heart"></i>
	  <span class="wishlist-counter">{{ wishlist.count }}</span>
	  </span>
	  <span class="wishlist-title">{{ section.settings.wishlist_title }}</span>
	</a>	
</div>
