<div class="password-header">
  <a href="/" class="theme-logo">
    <img class="desktop-logo" src="{% if section.settings.logo %}{{ section.settings.logo | img_url: 'master' }}{% else %}https://via.placeholder.com/200x50{% endif %}">
  </a>
  <span class="password-coming-soon">{{ section.settings.pwd_heder_soon_title }}</span>
</div>
{% schema %}
{
  "name": "Password Header",
  "settings": [
  {
    "type": "header",
    "content": "Section Content"
  },
  {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo",
    "info": "Recommended Size: 150px x 70px"
  },
  {
    "type": "text",
    "id": "pwd_heder_soon_title",
    "label": "Title",
    "default": "Coming soon"
  }
  ]
}
{% endschema %}
<style>
  .password-header span.password-coming-soon{
    display: block;
    color: {{ settings.body_text_color }};
    font-size: 30px;
    margin-top: 19px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 1; 
  }
  @media (max-width: 479px) {
    .password-header span.password-coming-soon{
      font-size: 20px;
      margin-top: 21px;
      letter-spacing: 3px;
    }
  }
</style>
