<section class="section-ptb other-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content-main-title">
          {% if section.settings.ship_policy_title != '' %}
          <h2>{{ section.settings.ship_policy_title }}</h2>
          {% endif %}
        </div>
        <div class="que-ans">
          <ul>
            {% for block in section.blocks %}
            <li>
              <h6>{{ block.settings.ship_policy_que }}</h6>
              <p>{{ block.settings.ship_policy_ans1 }}</p>

              {% if block.settings.ship_policy_ans2 != '' %}
              <p>{{ block.settings.ship_policy_ans2 }}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Shipping Policy",
  "settings": [
  {
    "type": "header",
    "content": "Page Title"
  },
  {
    "type": "text",
    "id": "ship_policy_title",
    "label": "Title",
    "default": "Shipping Policy"
  }
  ],
  "blocks":[
  {
    "type": "shipping-policy",
    "name": "Shipping Policy",
    "settings": [
    {
      "type": "text",
      "id": "ship_policy_que",
      "label": "Question",
      "default": "Type Here For Question?"
    },
    {
      "type": "textarea",
      "id": "ship_policy_ans1",
      "label": "Answer1",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis."
    },
    {
      "type": "textarea",
      "id": "ship_policy_ans2",
      "label": "Answer2",
      "default": "There is something about the saree that makes a woman look dignified, glorifying and every bit stylish. a was set up in the year 2017 with a motive to offer its designer collection at competitive price and merchantable quality to its whole seller and worldwide online customer."
    }
    ]
  }
  ]
}
{% endschema %}